body,h1,h2,h3,h4,p{
  margin: 0;
}
textarea{
  border: none;
  resize: none;
  outline: none;
}
button{
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  padding: 0;
}
img{
  vertical-align: top;
}