.a11y-hidden{
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
*{
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
.header-wrapper{
  border-bottom: 1px solid #bdbdbd;
  padding: 5px 10px;
}
.header {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.img-title {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.memo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 60px 0px;
  width: 100%;
}
.section-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 7px;
  overflow: hidden;
  background-color: white;
}
.input-text-container{
  background: transparent;
  width: 100%;
}
.input-title, .input-content{
  width: 100%;
  height: 100%;
  font-size: 1em;
  padding: 15px 15px;
  background: transparent;
}
.input-title{
  display: none;
  font-weight: bold;
}
.input-btn-container {
  width: 100%;
  padding: 5px 15px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: 1rem;
}
.input-btn-container button{
  width: 44px;
  height: 44px;
  padding: 8px;
  margin: 2px;
  border-radius: 50%;
}
.input-btn-container button:hover{
  background-color: #eeeeee;
}
.img-input{
  box-sizing: content-box;
  padding-top: 3px;
  width: 1.2rem;
  height: 1.2rem;
}
.color-picker{
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 0px 10px;
  background-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
  position: absolute;
  border-radius: 10px;
  z-index: 999;
}
.color-picker button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.color-picker button:hover{
  border: 2px solid #777777;
}
#btn-color-white{
  background: white;
}
#btn-color-red{
  background-color: #f28b82;
}
#btn-color-yellow{
  background-color: #fff475;
}
#btn-color-green{
  background-color: #ccff90;
}
#btn-color-blue{
  background-color: #cbf0f8;
}
#btn-color-purple{
  background-color: #d7aefb;
}
.color-selected{
  border: 2px solid #777777;
}

.section-display{
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
  gap: 10px;
}

.display-memo{
  width: calc(250px - 50px/6);
  height: fit-content;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px; 
  word-break: break-all;
}
.display-memo:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#edit-modal {
  visibility:hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

#edit-modal-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  border-radius: 5px;
  border: solid 2px #777777;
}
#modal-title{
  padding: 15px 15px 0px 15px;
  font-weight: 600;
  color: #111111;
  text-align: center;
}
#edit-modal-box .input-title{
  display: block;
}
#edit-modal-box .input-btn-container{
  display: flex;
}


@media screen and (max-width: 1600px){
  .section-display{
    width: 1250px;
  }
  .display-memo{
    width: calc(250px - 40/5);
  }
}
@media screen and (max-width: 1350px){
  .section-display{
    width: 1000px;
  }
  .display-memo{
    width: calc(250px - 30/4);
  }
}
@media screen and (max-width: 1100px){
  .section-display{
    width: 750px;
  }
  .display-memo{
    width: calc(250px - 20/3);
  }
}
@media screen and (max-width: 850px){
  .section-input{
    width: 500px;
  }
  .section-display{
    width: 500px;
  }
  .display-memo{
    width: calc(250px - 10/2);
  }
}
@media screen and (max-width: 600px){
  .header{
    height: 40px;
  }
  .section-input{
    width: 90%;
  }
  .section-display{
    width: 90%;
  }
  .display-memo{
    width: 100%;
  }
}
